body {
  font-family: helvetica;
  font-size: 12px;
  margin: 0;
  padding: 0;
  display:inline-block;
}

.outer {
  /*margin-top: 45px;*/
  margin-left: 30px;
  margin-top: 70px;
}


table {
  border-collapse: collapse;
  border-spacing: 10px 0;
}

td {
  padding: 5px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.outputMenu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.outputMenu a.on {
  background-color: #0080ff;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.outputMenu a {
  background-color: #D3D3D3;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.outputMenu a:hover {
  background-color: #0080ff;
  color: #ffffff;
}

#sentimentWords {
  display: inline-block;
}

/*#logout {
  padding-left: 60px;
}*/

#user {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
}

ul {
    margin: 0;
}

.top-menu {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: #e6e6e6;
  margin: auto;
  position: fixed;
  font-family: Helvetica;
  padding-top: 10px;
  padding-bottom: 10px;
}


.top-menu .right ul {
    list-style-type: none;
    text-align: right;
}

.top-menu .right ul li {
  display: inline;
}

.top-menu .left ul {
    list-style-type: none;
    text-align: left;
}

.top-menu .left ul li {
  padding-left: 10px;
  display: inline;
}


.top-menu .right {
  display: flex;
  flex-basis: 20%%;
  justify-content: flex-end;
  font-size: 10pt;
  display: inline;
  padding-right: 10px;
}

.top-menu .left {
  display: flex;
  justify-content: flex-start;
  flex-basis: 70%;
  font-size: 10pt;
}

#logout {
  margin-left: 5px;
}

.top-menu a {
  text-decoration: none;
}

.top-menu a:hover {
  text-decoration: none;
  background-color: #C0C0C0;
  padding: 5px;
  color: white;
}

form {
  display: block;
  width: 400px;
}

.js-query {
    height: 28px;
    width: 500px;
    font-size: larger;
    margin-top: 12px;
}

#positive {
  display: inline;
  float: left;
  padding-right: 15px;
}

#negative {
 display: inline;
 float: right;
 padding-left: 15px;

}

#clear {
  clear: both;
}

.intake-field {
  display: block;
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
}

.intake-label {
  margin-bottom: 5px;
  margin-top: 5px;
}

.intake-button {
  height: 100;
  width: 80px;
}

#raw {
  width: 60%;
}

.intake-button {
  padding-top: 5px;
}

.red {
  color: red;
}
