.app-box {
  padding: 20px;
}

.buttons a {
  background-color: #D3D3D3;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.buttons a:hover {
   background-color: #A9A9A9;
}

.buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*tr:nth-child(even) {
    background-color: #D3D3D3;
}*/

table {
  border-collapse: collapse;
  border-spacing: 10px 0;
}

td {
  padding: 5px;
}

th, td {
    border-bottom: 1px solid #ddd;
}


/*.buttons {
  visibility: hidden;
}*/
